html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: norse-bold;
  src: url(/fonts/Norse-Bold.otf);
}

.banner-img-container {
  position: relative;
  background-image: url(/img/banner-img.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  position: absolute;
  top: calc(50% - 2.5em);
  background-color: rgba(0,0,0,0.6);
}

.page-title {
  font-family: norse-bold;
  color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
  margin: 0.5rem;
}

.odin-logo {
  max-height: 100%;
}


/* Form section */

.form-container {
  background-color: whitesmoke;
}

.info-paragraph {
  padding: 2em 2em 0;
}

.info-paragraph p {
  font-size: 1.3em;
  font-weight: 500;
}

.background-change-container {
  background-color: white;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: 0rem 0.3rem 1rem rgba(0,0,0,0.6);
}

.form-title {
  margin: 0 0 1em 0;
  width: 100%;
}

.form-button-submit {
  margin-left: 2em;
  padding: 1rem 1.8rem;
  font-size: 1rem;
}

.form-input-container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

}

.form-input {
  box-sizing: border-box;
  margin-left: 1px;
  max-width: 500px;
  height: 2em;
  margin-top: 0.2em;
}

.form-input:focus {
  border: 2px solid blue;
}

.form-input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
}

label {
  /* padding-bottom: 0.2em; */
}

.log-in-text {
  margin-left: 2em;
  font-size: 1.1em;
}

.log-in-text a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.error-message {
  margin: 0;
  color: rgb(230, 2, 2);
  padding-left: 0.5em;
}

.hidden {
  display: none;
}

@media screen and (min-width: 765px) {
  .main-split {
    display: flex;
    flex-wrap:nowrap;
  }
  
  .banner-img-container {
    height: 100vh;
    width: 40vw;
  }

  .form-container {
    width: 60vw;
  }

  .info-paragraph {
    margin: 2em 0;
    padding: 2em;
  }
}

@media screen and (min-width: 1024px) {

  .background-change-container {
    display: flex;
    flex-wrap:wrap;
  }

  .form-input-container {
    width: 40%;
    margin-right: 2em;
  }

  .info-paragraph {
    margin-top: 10vh;
  }
}




